
main {
    width: 98%;
    height: 85%;
    left: 2%
}

header {
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    background-color: #C0D4CB;
    border-radius: 10px;
}

header .title_page {
    width: 100%;
    height: 100%;
    text-align: center;
}


#imgusuario{
    width: 75%;
}

h1 {
    font-family: Verdana;
    font-size: 20px;
    text-align: left;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    color: #1a0d0d;
    margin-top: 4px;
    margin-bottom: 0;
    height: auto;
    
}

h1.title {
    
    font-size: 30px;
}

h2 {
    font-family: Verdana;
    font-size: 16px;
    border: 2px solid #DBDBDD;
    position: absolute;
    background-color: #FFFFFF;
    margin-top: -12px;
    margin-left: 12px;
    padding: 2px;
    border-radius: 10px;
    z-index: 1; 
}

#imgicongit {

    border: 2px solid #DBDBDD;
    position: absolute;
    background-color: #FFFFFF;
    margin-top: -12px;
    margin-left: 94%;
    padding: 2px;
    border-radius: 10px;
    width: 4%;
    z-index: 1; /*Para la segunda practica puedo jugar con los z-index de los botones*/
}



#imgiconidea {

    border: 2px solid #DBDBDD;
    position: absolute;
    background-color: #FFFFFF;
    margin-top: -12px;
    margin-left: 89%;
    padding: 2px;
    border-radius: 10px;
    width: 4%;
    z-index: 1; /*Para la segunda practica puedo jugar con los z-index de los botones*/
}

h2.contact{
    background-color: #778F9C;
}
h2.profile{
    background-color: #96B3B6;
}
h2.skills{
    background-color: #C0D4CB;
}
h2.expertise{
    background-color: #EFECD2;
}
h2.experience{
    background-color:  #CBCDCB;
}

/* contact */
.tbcontact{
    width: 96%;
    height: auto;
    margin: 2%;
    background-color: #80BBAD;
    border-radius: 10px;
    border-color: black;
    position: relative;

}


.tbcontact .adicional{
    
    padding-top: 25px;
    display: table;
    clear: both;
    width: 90%;
    margin-left: 25%;
}




.tbcontact .adicional .datos{
    width: 55%;
    font-family: Verdana;
    font-size: 100%;
    text-align: center;
    font-weight: bold;
}

.tbcontact .adicional .celda{
    text-align: center;
    color:#DBDBDD;
    background-color: #7F8480;
    font-family: Verdana;
    font-size:100%;
    border-radius: 10px;
}

.tbcontact .title_page {
    text-align: center;
    font-weight: bold;
}
/* Fin contact */

/* Tabla profile */
.tbprofile{
    width: 96%;
    height: auto;
    margin: 2%;
    background-color:  #DBD99A;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.tbprofile .adicional{
    width: 100%;
    padding-top: 25px;
    display: table;
    clear: both;
    width: 90%;
    margin-left: 8%;
}


/* Fin profile */

/* Lista skills */
.tbskills{
    width: 96%;
    height: auto;
    margin: 2%;
    background-color: #538184;
    border-radius: 10px;
    position: relative;
}

.tbskills .adicional{
    padding-top: 25px;
    display: table;
    clear: both;
    width: 90%;
    margin-left: 8%;

}



.tbskills .adicional .datos{
    width: 100%;
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.tbskills .adicional .celda{
    text-align: center;
    color:#DBDBDD;
    background-color:  #235c49;
    font-family: Verdana;
    font-size: 20px;
    border-radius: 10px;
}

/* Fin skills */

/* Expertise */
.tbexpertise {
    width: 96%;
    height: auto;
    margin: 2%;
    background-color:  #778F9C;
    border-radius: 10px;
    position: relative;
}

.tbexpertise .adicional{
    padding-top: 25px;
    display: table;
    clear: both;
    width: 90%;
    margin-left: 8%;

}

.tbexpertise .adicional .datos{
    width: 100%;
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

video {
    width: 90%;
   
}

.tbexpertise .adicional .celda{
    text-align: center;
    color:#DBDBDD;
    background-color: #b6651a;
    font-family: Verdana;
    font-size: 20px;
    border-radius: 10px;
}


/* Fin Expertise */

/* experience */
.tbexperience{
    width: 96%;
    height: auto;
    margin: 2%;
    background-color: #EFECD2;
    border-radius: 10px;
    position: relative;
}

.tbexperience .adicional{
    padding-top: 45px;
    display: table;
    clear: both;
    width: 50%;
    margin-left: 25%;


}


.tbexperience .adicional .datos{
    width: 100%;
    font-family: Verdana;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.tbexperience .adicional .celda{
    text-align: center;
    color:#DBDBDD;
    background-color: #612b5a;
    font-family: Verdana;
    font-size: 20px;
    border-radius: 10px;
}
/* Fin experience */

footer {
    width: 100%;
    height: 45px;

   
    z-index: 1;
    background-color: #C0D4CB;
    border-radius: 10px;
}

footer .footer_page {
    width: 100%;
    height: 100%;
    text-align: center;
}